<div *ngIf="field.inputType == 'text'" class="form-group">
	<label [for]="field.name">{{field.label}}:</label>
	<input type="text" pInputText [id]="field.name" class="form-control" [formControl]="formGroup.get(field.name)" [placeholder]="field.placeHolder ? field.placeHolder : ''" />
</div>

<div *ngIf="field.inputType == 'number'" class="form-group">
	<label [for]="field.name">{{field.label}}:</label>
	<p-spinner size="30" [id]="field.name" [formControl]="formGroup.get(field.name)"></p-spinner>
</div>

<div *ngIf="field.inputType == 'checkbox'">
	<p-checkbox [label]="field.label" binary="true" [formControl]="formGroup.get(field.name)"></p-checkbox>
</div>

<div *ngIf="field.inputType == 'select'" class="form-group">
	<label [for]="field.name">{{field.label}}</label>
	<select class="form-control" [id]="field.name" [formControl]="formGroup.get(field.name)">
          <option *ngFor="let lookup of field.lookups" [value]="lookup.value" [selected]="lookup.selected">
            {{lookup.label}}
          </option>
        </select>
</div>

<div *ngIf="field.inputType == 'dropdown'" class="form-group">
	<label [for]="field.name">{{field.label}}</label>
	<p-dropdown [formControl]="formGroup.get(field.name)" [options]="field.lookups"></p-dropdown>
</div>

<div *ngIf="field.inputType == 'autocomplete'" class="form-group">
	<p-autoComplete [formControl]="formGroup.get(field.name)" [suggestions]="field.filteredLookups" (completeMethod)="search($event, field.name)"
	 [dropdown]="true" field="label" dataKey="value">
	</p-autoComplete>
</div>